    
    <% statistics ||= "" %>
    <% projects ||= "" %>
    <% managers ||= "" %>
    <% developers ||= "" %>

    <h1 class="title">Dashboard</h1>

    <div class="tabs is-large is-centered">
      <ul>
        <li class="<%= statistics %>"><%=link_to t(:statistics), dashboard_statistics_path %></li>
        <li class="<%= projects %>"><%=link_to t(:projects), dashboard_projects_path %></li>
        <li class="<%= managers %>"><%=link_to t(:managers), dashboard_managers_path %></li>
        <li class="<%= developers %>"><%=link_to t(:consultants), dashboard_developers_path %></li>
      </ul>
    </div>