<section class="section">
  <div class="container">
    <%#= image_tag '/dashboard.png'%>
   
    <h1 class='title has-text-centered'>Gerentes</h1>
    <hr>
    <div class='columns is-multiline mt-5'>
      <% @managers.order(:load).each do |manager| %>
        <div class='column is-one-quarter'>
          <div class="card">
            <header class="card-header" style="background-color: #6650aa">
              <p class="card-header-title has-text-white">
                  <%= manager.name %> - Load: <%= manager.load %>
              </p>
            </header>
              <div class="card-content">
                <div class="content">
                  <strong>Managed projects: </strong><hr>
                  <% manager.managed_projects.each do |project| %>
                      <p><%= project.name %> - <i><strong><%= project.state %></strong></i></p>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>

    <h1 class='title has-text-centered'>Projects</h1>
    <hr>
    <div class='columns is-multiline mt-5'>
      <% @projects.order(:state).each do |project| %>
        <div class='column is-one-quarter'>
          <div class="card">
            <header class="card-header" style="background-color: #6650aa">
              <p class="card-header-title has-text-white">
              <%= project.name %>
              </p>
            </header>
              <div class="card-content">
                <div class="content">
                <strong>Manager:</strong>
                <% project.managers.each do |manager| %>
                  <%= manager.try(:name) %>
                <% end %>
                <br>
                <strong>Members:</strong>
                <% project.developers.each do |developer| %>
                  <%= developer.name %>
                <% end %>
                <hr>
                <strong>State: </strong> <%= project.state %>
                <br>
                <strong>Complexity: </strong> <%= project.complexity %>
                <br>
                <strong>Internal: </strong> <%= human_boolean project.internal %>
                
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

