<section class="section">
  <div class="container">

    <%= render partial: "navbar", locals: { managers: "is-active" }%>

    <div class='columns is-multiline mt-5'>
      <% @managers.each do |manager| %>
        <div class='column is-one-quarter'>
          <div class="card">
            <header class="card-header" style="background-color: #6650aa">
              <p class="card-header-title has-text-white">
                  <%= manager.name %> - <%=Member.human_attribute_name('load')%>: <%= manager.load %>
              </p>
            </header>
              <div class="card-content">
                <div class="content">
                  <p><strong><%=t(:managed_projects)%>: </strong></p>
                  <% manager.managed_projects.each do |project| %>
                      <%= project.name %> - <i><strong><%= t("enums.project.state.#{project.state}") %></strong></i><br>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>