<section class="section">
  <div class="container">
    <%= render partial: "navbar", locals: { projects: "is-active" }%>
    
    <%= search_form_for @q, url: dashboard_projects_path do |f|%>
      <div class="field is-grouped">
        <div class="field mr-2">
          <%= f.label :state, class:"label" %>  
          <div class="control">
            <div class="select ">
              <%= f.select :state_eq, state_enum_select_options(Project.states.keys), include_blank: 'Todos' %>
            </div>
          </div>
        </div>
        <div class="field mr-2">
          <%= f.label :complexity, class:"label" %>  
          <div class="control">
            <div class="select ">
              <%= f.select :complexity_eq, complexity_enum_select_options(Project.complexities.keys), include_blank: 'Todos' %>
            </div>
          </div>
        </div>
        <div class="field mr-2">
          <%= f.label ProjectType.model_name.human, class:"label" %>  
          <div class="control">
            <div class="select ">
              <%= f.collection_select :project_type_id_eq, @project_types, :id, :name, include_blank: 'Todos' %>
            </div>
          </div>
        </div>
        <div class="control mt-5 pt-2 mr-2">
          <%= f.submit class:"button "%>
        </div>
      </div>
    <% end %>

    <div class='columns is-multiline mt-5'>
      <% @projects.each do |project| %>
        <div class='column is-one-quarter'>
          <div class="card">
            <header class="card-header" style="background-color: #6650aa">
              <p class="card-header-title has-text-white">
              <%= project.name %>
              </p>
            </header>
              <div class="card-content">
                <div class="content">
                <strong><%= t(:managers)%>:</strong>
                <% project.managers.each do |manager| %>
                  <%= manager.try(:name) %>
                <% end %>
                <br>
                <strong><%= t(:consultants)%>:</strong>
                <% project.developers.each do |developer| %>
                  <%= developer.name %>
                <% end %>
                <hr>
                <strong><%= Project.human_attribute_name('state')%>: </strong> <%= t("enums.project.state.#{project.state}") %>
                <br>
                <strong><%= Project.human_attribute_name('complexity')%>: </strong> <%= t("enums.project.complexity.#{project.complexity}") %>
                <br>
                <strong><%= Project.human_attribute_name('internal')%>: </strong> <%= t("boolean.#{project.internal}") %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>