<section class="section">
  <div class="container">
    <%#= image_tag '/dashboard.png'%>

    <%= render partial: "navbar", locals: { statistics: "is-active" }%>

    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box" style="background-color: #6650aa">
          <p class="title is-1 is-spaced has-text-white"><%= @projects_count%></p> 
          <p class="subtitle has-text-white">Projects</p> 
        </div>
      </div>

      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title is-5">Sites</p>
          <p class="subtitle"><%= @site_projects_count%></p>
        </div>
        <div class="tile is-child box">
          <p class="title is-5">Woo</p>
          <p class="subtitle"><%= @woo_projects_count%></p>
        </div>
        <div class="tile is-child box">
          <p class="title is-5">Consulting</p>
          <p class="subtitle"><%= @consult_projects_count%></p>
        </div>
        <div class="tile is-child box">
          <p class="title is-5">System</p>
          <p class="subtitle"><%= @system_projects_count%></p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5 ">Starting Projects</p>
            <p class="subtitle "><%= @starting_projects_count%></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5 ">Middle Projects</p>
            <p class="subtitle "><%= @middle_projects_count%></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5 ">Finishing Projects</p>
            <p class="subtitle "><%= @finishing_projects_count%></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5 ">Support Projects</p>
            <p class="subtitle "><%= @support_projects_count%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

