<section class="section dashboard">
  <div class="container">
    <%#= image_tag '/dashboard.png'%>

    <%= render partial: "navbar", locals: { statistics: "is-active" }%>

    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box" style="background-color: #0676ED">
          <p class="title is-1 is-spaced has-text-white"><%= @projects_count%></p> 
          <p class="subtitle has-text-white">Projects</p> 
        </div>
      </div>

      <div class="tile is-4 is-vertical is-parent">
        <% @project_types.each do |pt| %>
          <div class="tile is-child box">
            <p class="title is-5"><%= pt.name %></p>
            <p class="subtitle"><%= pt.projects.count %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5 ">Starting Projects</p>
            <p class="subtitle "><%= @starting_projects_count%></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5 ">Middle Projects</p>
            <p class="subtitle "><%= @middle_projects_count%></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5 ">Finishing Projects</p>
            <p class="subtitle "><%= @finishing_projects_count%></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title is-5 ">Support Projects</p>
            <p class="subtitle "><%= @support_projects_count%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

