<% if position.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

    <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="card mt-3">
  <div class="card-content">
    <%= form_with(model: position, local: true) do |f| %>
      
      <div class="field">
        <%= f.label t(:name) , class:"label"%>
        <div class="control">
          <%= f.text_field :name , class:"input", type:"text"%>
        </div>
      </div>

      <div class="field mr-2">
        <%= f.label t(:load), class:"label" %>
        <p class="control is-expanded ">
          <div class="select">
            <%= f.select :load, load_enum_select_options(Position.loads.keys), class:"select" %>
          </div>
        </p>
      </div>

      <div class="buttons">
        <button class="button is-primary"><%=t('actions.submit')%></button>
      </div>
    <% end %>
  </div>
</div>