<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <%#= image_tag "/positions.png"%>

    <h1 class="title"><%=Position.model_name.human(count: 2)%></h1>

    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><%= sort_link(@q, :name)%></th>
            <th><%= sort_link(@q, :load)%></th>
            <th colspan="3"><%=t(:options)%></th>
          </tr>
        </thead>

        <tbody>
          <% @positions.each do |position| %>
            <tr>
              <td><%= position.name %></td>
              <td><%= t("enums.position.load.#{position.load}") %></td>
              <td><%= link_to t('actions.show'), position %></td>
              <td><%= link_to t('actions.edit'), edit_position_path(position) %></td>
              <td><%= link_to t('actions.destroy'), position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

    <%= link_to t('actions.position.new'), new_position_path %>
  </div>
</section>
