<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <%#= image_tag "/positions.png"%>

    <h1 class="title is-1 has-text-centered">Positions</h1>
    <hr>

    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><%= sort_link(@q, :name)%></th>
            <th><%= sort_link(@q, :load)%></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @positions.each do |position| %>
            <tr>
              <td><%= position.name %></td>
              <td><%= position.load %></td>
              <td><%= link_to 'Show', position %></td>
              <td><%= link_to 'Edit', edit_position_path(position) %></td>
              <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

    <%= link_to 'New Position', new_position_path %>
  </div>
</section>
