<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <%#= image_tag "/positions.png"%>

    <h1 class="title"><%=Position.model_name.human(count: 2)%></h1>

    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th class="left-corner"><%= sort_link(@q, :name)%></th>
            <th><%= sort_link(@q, :load)%></th>
            <th class="right-corner has-text-center"><%=t(:options)%></th>
          </tr>
        </thead>

        <tbody>
          <% @positions.each do |position| %>
            <tr>
              <td class="left-corner"><%= position.name %></td>
              <td><%= t("enums.position.load.#{position.load}") %></td>
              <td class="right-corner has-text-center">
                <%= link_to "/position/#{position.id}" do%>
                  <i class="far fa-eye"></i> Mostrar
                <% end %>
                <%= link_to "/position/#{position.id}/edit" do %>
                  <i class="fas fa-edit"></i> Editar
                <% end %>
                <%= link_to "/position/#{position.id}" , method: :delete, data: { confirm: 'Are you sure?'} do %>
                  <i class="fas fa-trash-alt"></i> Remover
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

    <%= link_to t('actions.position.new'), new_position_path %>
  </div>
</section>
