<div class="columns is-centered is-mobile mt-5">
  <div class="column is-four-fifths-mobile is-half-tablet is-two-fifths-desktop is-one-third-widescreen">
    <p id="notice"><%= notice %></p>
    <div class="card mt-3">
      <div class="card-content">

        <h2 class="subtitle">
          <strong><%=t(:name)%>:</strong> <%= @position.name %> 
        </h2>
        <hr>

        <h2 class="subtitle">
          <strong><%=t(:load)%>:</strong> <%= t("enums.position.load.#{@position.load}") %> 
        </h2>
        <hr>

        <%= link_to t('actions.edit'), edit_position_path(@position) %> |
        <%= link_to t('actions.back'), positions_path %>
      </div>
    </div>
  </div>
</div>
    


