<div class="columns is-centered mt-5">
  <div class="column is-one-third">
    <p id="notice"><%= notice %></p>
    <div class="card mt-3">
      <div class="card-content">

        <h2 class="subtitle">
          <strong>Name:</strong> <%= @position.name %> 
        </h2>
        <hr>

        <h2 class="subtitle">
          <strong>Description:</strong> <%= @position.description %> 
        </h2>
        <hr>

        <h2 class="subtitle">
          <strong>Load:</strong> <%= @position.load %> 
        </h2>
        <hr>

        <%= link_to 'Edit', edit_position_path(@position) %> |
        <%= link_to 'Back', positions_path %>
      </div>
    </div>
  </div>
</div>
    


