<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1 class="title"><%=ProjectType.model_name.human(count:2)%></h1>
      <div class="table-container">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th class="left-corner"><%=t(:name)%></th>
              <th><%=t(:load)%></th>
              <th class="right-corner has-text-centered"><%=t(:options)%></th>
            </tr>
          </thead>

          <tbody>
            <% @project_types.each do |project_type| %>
              <tr>
                <td class="left-corner"><%= project_type.name %></td>
                <td><%= t("enums.project_type.load.#{project_type.load}") %></td>
                <td class="right-corner has-text-centered">
                  <div class="crud-hover">  
                    <div class="card crud-options">
                      <footer class="card-footer">
                        <%= link_to "/project_types/#{project_type.id}/edit", class:"crud-edit" do%>
                          <i class="fas fa-edit"></i> 
                          <div class="crud-text"> 
                            Editar
                          </div>
                        <% end %>
                        <%= link_to "/project_types/#{project_type.id}" , method: :delete, data: { confirm: 'Are you sure?' }, class:"crud-delete" do%>
                          <i class="fas fa-trash-alt"></i> 
                          <div class="crud-text">  
                            Remover
                          </div>
                        <% end %>
                        <div class="crud-options-triangle">
                        </div>  
                      </footer>
                    </div>
                  </div>
                <i class="fas fa-ellipsis-h"></i>

                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <button class="button is-success ">
      <%= link_to new_project_type_path do %>
        <i class="fas fa-plus"></i> Novo Tipo de Projeto
      <% end %>
    </button>
  </div>
</section>

