
<div class="columns is-centered is-mobile mt-5">
  <div class="column is-four-fifths-mobile is-half-tablet is-two-fifths-desktop is-one-third-widescreen">
    <div class="card mt-3">
      <div class="card-content">    
          <h2 class="title has-text-centered">Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email , class:"label"%>
              <div class="control">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"input", type:"text"%>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", class:"button is-primary my-3" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
