<div class="container">
  <div class="columns is-mobile is-centered is-vcentered">
    <div class="column is-half">
      <%= image_tag "/team.png"%>
      <h1 class="title is-1 has-text-centered">GTi Alocação</h1>
        <div class="box">
          <div class="columns">
            <div class="column has-text-centered">
              <%= link_to 'Dashboard', dashboard_statistics_path %>
            </div>
            <div class="column has-text-centered">
              <%= link_to Project.model_name.human(count: 2), projects_path %>
            </div>
            <div class="column has-text-centered">
              <%= link_to Member.model_name.human(count: 2), members_path %>
            </div>
            <div class="column has-text-centered">
              <%= link_to Position.model_name.human(count: 2), positions_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>