<%if notice.nil? == false %>
  <div id="notice" class="notification">
      <i class="fas fa-check"></i>
    <%= notice%>
  </div>
<% end %>
<div class="container home">
  <div class="columns is-mobile is-centered is-vcentered">
    <div class="column is-12">
      <%= image_tag "/team.png"%>
      </div>
      </div>
      <div class="columns is-mobile is-centered is-vcentered">
      <div class="column is-full is-centered has-text-centered titulo">
      <h1 class="title is-1 has-text-centered">GTi Alocação</h1>
      </div>
      </div>
      <div class="columns is-mobile is-centered is-vcentered">
      <div class="column is-full is-centered">
        <div class="box is-centered">
          <div class="columns is-gapless is-centered menu">
            <div class="column has-text-centered left-corner">
              <%= link_to 'Dashboard', dashboard_statistics_path %>
            </div>
            <div class="column has-text-centered">
              <%= link_to Project.model_name.human(count: 2), projects_path %>
            </div>
            <div class="column has-text-centered">
              <%= link_to Member.model_name.human(count: 2), members_path %>
            </div>
            <div class="column has-text-centered right-corner">
              <%= link_to Position.model_name.human(count: 2), positions_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
