<%= alert %>
<% if project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="card mt-3">
  <div class="card-content">
    <%= form_for @project do |f| %>

      <div class="field">
        <%= f.label :name , class:"label"%>
        <div class="control">
          <%= f.text_field :name , class:"input", type:"text"%>
        </div>
      </div>
      <div class="field-body">
      <%if @project_types.empty? == true%>
        <div class="field mr-2">
          <%= f.label ProjectType.model_name.human, class:"label" %>  
          <p class="control is-expanded ">
            <div class="select">
              <%= f.collection_select(:project_type_id, @project_types, :id, :name, {:prompt => "Nada ainda :/"}, {:class=>'disabled_selector'}) %>
            </div>
          </p>
        </div>
      <%else%>
      <div class="field mr-2">
          <%= f.label ProjectType.model_name.human, class:"label" %>  
          <p class="control is-expanded ">
            <div class="select">
              <%= f.collection_select(:project_type_id, @project_types, :id, :name) %>
            </div>
          </p>
        </div>
      <%end%>

        <div class="field mr-2">
          <%= f.label :complexity, class:"label" %>
          <p class="control is-expanded ">
            <div class="select">
              <%= f.select :complexity, complexity_enum_select_options(Project.complexities.keys), class:"select" %>
            </div>
          </p>
        </div>

        <div class="field mr-2">
          <%= f.label :state, class:"label" %>
          <p class="control is-expanded">
            <div class="select">
              <%= f.select :state, state_enum_select_options(Project.states.keys), class:"select" %>
            </div>
          </p>
        </div>
      </div>

      <br>
      <div class="field">
        <div class="control">
          <%= f.label :internal %>
          <label class="checkbox">
            <%= f.check_box :internal, type:"checkbox" %>
          </label>
        </div>
      </div>
      <hr>

      <h3><%=t(:managers)%>:</h3>

      <div id='managing_projects'>
        <%= f.fields_for :manager_projects do |manager_project| %>
          <%= render 'manager_project_fields', :f =>  manager_project %>
        <% end %>
        <div class='links my-4'>
          <%= link_to_add_association t('actions.member.add_member'), f , :manager_projects %>
        </div>
      </div>
      <hr>

      <h3><%=t(:consultants)%>:</h3>
      
      <div id='member_projects'>
        <%= f.fields_for :member_projects do |member_project| %>
          <%= render 'member_project_fields', :f => member_project %>
        <% end %>
        <div class='links my-4'>
          <%= link_to_add_association t('actions.member.add_member'), f, :member_projects %>
        </div>
      </div>
      <hr>
      
      <div class="buttons">
        <button class="button is-primary">
            <%= t('actions.submit')%> 
        </button>
      </div>
    <% end %>
  </div>
</div>
