
<% if project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="card mt-3">
  <div class="card-content">
    <%= form_for @project do |f| %>

      <div class="field">
        <%= f.label :name , class:"label"%>
        <div class="control">
          <%= f.text_field :name , class:"input", type:"text"%>
        </div>
      </div>

      <div class="field is-grouped">   
        <div class="field mr-2">
          <%= f.label :project_type, class:"label" %>  
          <div class="control">
            <div class="select">
              <%= f.collection_select(:project_type_id, ProjectType.all, :id, :name) %>
            </div>
          </div>
        </div>

        
        <div class="field mr-2">
          <%= f.label :complexity, class:"label" %>
          <div class="control">
            <div class="select">
              <%= f.select :complexity, Project.complexities.keys, class:"select" %>
            </div>
          </div>
        </div>
        
        <div class="field mr-2">
          <%= f.label :state, class:"label" %>
          <div class="control">
            <div class="select">
              <%= f.select :state, Project.states.keys, class:"select" %>
            </div>
          </div>
        </div>
      </div>
    
      <div class="field">
        <div class="control">
          <%= f.label :internal %>
          <label class="checkbox">
            <%= f.check_box :internal, type:"checkbox" %>
          </label>
        </div>
      </div>
      <hr>

      <h3>Managers:</h3>

      <div id='managing_projects'>
        <%= f.fields_for :manager_projects do |manager_project| %>
          <%= render 'manager_project_fields', :f =>  manager_project %>
        <% end %>
        <div class='links my-4'>
          <%= link_to_add_association 'add project', f , :manager_projects %>
        </div>
      </div>
      <hr>

      <h3>Project Developers:</h3>
      
      <div id='member_projects'>
        <%= f.fields_for :member_projects do |member_project| %>
          <%= render 'member_project_fields', :f => member_project %>
        <% end %>
        <div class='links my-4'>
          <%= link_to_add_association 'Add member', f, :member_projects %>
        </div>
      </div>
      <hr>

      <div class="buttons">
        <button class="button is-primary">Submit</button>
      </div>
    <% end %>
  </div>
</div>
