<section class="section">
  <div class="container">
    <p id="noticed"><%= notice %></p>

    <%#= image_tag "/project.png"%>

    <h1 class="title is-1 has-text-centered">Projects</h1>
    <hr>

    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><%= sort_link(@q, :name) %></th>
            <th><%= sort_link(@q, :type_project) %></th>
            <th><%= sort_link(@q, :complexity) %></th>
            <th><%= sort_link(@q, :internal) %></th>
            <th><%= sort_link(@q, :state) %></th>
            <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td style="white-space: nowrap;"><%= project.name %></td>
              <td><%= project.project_type.name %></td>
              <td><%= project.complexity %></td>
              <td><%= human_boolean(project.internal)%></td>
              <td><%= project.state %></td>
              <td style="white-space: nowrap;">
                <%= link_to 'Show', project, class:"mr-1" %>
                <%= link_to 'Edit', edit_project_path(project), class:"mr-1" %>
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class:"mr-1" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <%= link_to 'New Project', new_project_path %>
  </div>
</section>