<section class="section">
  <div class="container">
    <p id="noticed"><%= notice %></p>

    <%#= image_tag "/project.png"%>

    <h1 class="title"><%=Project.model_name.human(count:2)%></h1>

    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><%= sort_link(@q, Project.human_attribute_name('name')) %></th>
            <th><%= sort_link(@q, ProjectType.model_name.human) %></th>
            <th><%= sort_link(@q, Project.human_attribute_name('complexity')) %></th>
            <th><%= sort_link(@q, Project.human_attribute_name('internal')) %></th>
            <th><%= sort_link(@q, Project.human_attribute_name('state')) %></th>
            <th><%=t(:options)%></th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td style="white-space: nowrap;"><%= project.name %></td>
              <td><%= project.project_type.name %></td>
              <td><%= t("enums.project.complexity.#{project.complexity}") %></td>
              <td><%= t("boolean.#{project.internal}")%></td>
              <td><%= t("enums.project.state.#{project.state}")%></td>
              <td style="white-space: nowrap;">
                <%= link_to t('actions.show'), project, class:"mr-1" %>
                <%= link_to t('actions.edit'), edit_project_path(project), class:"mr-1" %>
                <%= link_to t('actions.destroy'), project, method: :delete, data: { confirm: 'Are you sure?' }, class:"mr-1" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <%= link_to t('actions.project.new'), new_project_path %>
  </div>
</section>