<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Descriptions:</strong>
  <%= @project.descriptions %>
</p>

<p>
  <strong>Type:</strong>
  <%= @project.type %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @project.complexity %>
</p>

<p>
  <strong>Internal:</strong>
  <%= @project.internal %>
</p>

<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
