<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <%#= image_tag "/members.png"%>
    <h1 class="title"><%=Member.model_name.human(count:2)%></h1>
    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th class="left-corner"><%= sort_link(@q, :name) %></th>
            <th><%= sort_link(@q, :load) %></th>
            <th><%= sort_link(@q, :exit_cycle) %></th>
            <th colspan="3" class="has-text-centered right-corner"><%=t(:options)%></th>
          </tr>
        </thead>

        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td onclick="location.href='<%="/members/#{member.id}" %>'" class="left-corner"><%= member.name %></td>
              <td onclick="location.href='<%="/members/#{member.id}" %>'" ><%= member.load %></td>
              <td onclick="location.href='<%="/members/#{member.id}" %>'" ><%= t("boolean.#{member.exit_cycle}") %></td>
              <td class="has-text-centered right-corner">

              <!--  
                <%= link_to "/members/#{member.id}" do%>
                  <i class="far fa-eye"></i> Mostrar
                <%end%>
                <%= link_to "/members/#{member.id}/edit" do%>
                  <i class="fas fa-edit"></i> Editar
                <% end %>
                <%= link_to "/members/#{member.id}", method: :delete, data: { confirm: 'Are you sure?'} do %>
                  <i class="fas fa-trash-alt"></i> Remover
                <% end %>
-->

                <div class="crud-hover">  
                  <div class="card crud-options">
                    <footer class="card-footer">
                      <%= link_to "/members/#{member.id}/edit", class:"crud-edit" do%>
                        <i class="fas fa-edit"></i> 
                        <div class="crud-text"> 
                          Editar
                        </div>
                      <% end %>
                      <%= link_to "/members/#{member.id}" , method: :delete, data: { confirm: 'Are you sure?' }, class:"crud-delete" do%>
                        <i class="fas fa-trash-alt"></i> 
                        <div class="crud-text">  
                          Remover
                        </div>
                      <% end %>
                      <div class="crud-options-triangle">
                      </div>  
                    </footer>
                  </div>
                </div>

                <i class="fas fa-ellipsis-h"></i>

              </td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <button class="button is-success ">
      <%= link_to new_member_path do %>
        <i class="fas fa-plus"></i> Novo Membro
      <% end %>
    </button>
  </div>
</section>

