
<div class="columns is-centered is-mobile mt-5">
  <div class="column is-four-fifths-mobile is-half-tablet is-two-fifths-desktop is-one-third-widescreen">
    <p id="notice"><%= notice %></p>
    <div class="card mt-3">
      <div class="card-content">

        <div class="title">
          <h1 class="title has-text-centered"><%=Member.model_name.human%></h1>
        </div>
        <hr>

        <h2 class="subtitle">
          <strong><%=Member.human_attribute_name('name')%>:</strong> <%= @member.name %> 
        </h2>
        <hr>

        <h2 class="subtitle">
          <strong><%=Member.human_attribute_name('load')%>:</strong> <%= @member.load %> 
        </h2>
        <h2 class="subtitle">
          <strong><%=t(:development_load)%>:</strong>  <%= @development_load  %> 
        </h2>
        <h2 class="subtitle">
          <strong><%=t(:management_load)%>:</strong>  <%= @management_load %> 
        </h2>
        <hr>

        <h2 class="subtitle">
          <strong><%=Member.human_attribute_name('exit_cycle')%>:</strong> <%= human_boolean @member.exit_cycle  %> 
        </h2>
        <hr>

        <strong><%=t(:developed_projects)%>:</strong>

        <p>
          <% @member.developed_projects.each do |project|%>
            <p> <%= project.name %> </p>
          <% end %>
        </p>
        <hr>

        <strong><%=t(:managed_projects)%>:</strong>

        <p>
          <% @member.managed_projects.each do |project|%>
            <p> <%= project.name %> </p>
          <% end %>
        </p>
        <hr>

        <strong><%=Position.model_name.human(count: 2)%>:</strong>
        <p>
          <% @member.positions.each do |position|%>
            <p> <%= position.name %> </p>
          <% end %>
        </p>

      </div>
    </div>
    <div class="mt-4 ml-2">
      <%= link_to t('actions.edit'), edit_member_path(@member) %> |
      <%= link_to t('actions.back'), members_path %>
    </div>
  </div>
</div>