
<div class="columns is-centered mt-5">
  <div class="column is-one-third">
    <p id="notice"><%= notice %></p>
    <div class="card mt-3">
      <div class="card-content">

        <div class="title">
          <h1 class="title has-text-centered">Member</h1>
        </div>
        <hr>

        <h2 class="subtitle">
          <strong>Name:</strong> <%= @member.name %> 
        </h2>
        <hr>

        <h2 class="subtitle">
          <strong>Load:</strong> <%= @member.load  %> 
        </h2>
        <hr>

        <h2 class="subtitle">
          <strong>Exit cycle:</strong> <%= human_boolean @member.exit_cycle  %> 
        </h2>
        <hr>

        <strong>Developed projects:</strong>

        <p>
          <% @member.developed_projects.each do |project|%>
            <p> <%= project.name %> </p>
          <% end %>
        </p>
        <hr>

        <strong>Managed Projects:</strong>

        <p>
          <% @member.managed_projects.each do |project|%>
            <p> <%= project.name %> </p>
          <% end %>
        </p>
        <hr>

        <strong>Positions:</strong>
        <p>
          <% @member.positions.each do |position|%>
            <p> <%= position.name %> </p>
          <% end %>
        </p>

      </div>
    </div>
    <div class="mt-4 ml-2">
      <%= link_to 'Edit', edit_member_path(@member) %> |
      <%= link_to 'Back', members_path %>
    </div>
  </div>
</div>